.line {
    position: fixed;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.05);
    top: 60%;
    height: 150%;
    width: 150%;
}
.line-1 {
    left: 0%;
    border-radius: 50%;
}

.line-2 {
    left: -10%;
    border-radius: 50%;
}

.line-3 {
    left: 20%;
    border-radius: 50%;
}