.line-conteiner {
    position: fixed;
    top: 70%;
    overflow: hidden;
}
.line {
    position: fixed;
    background: rgba(0, 0, 0, 0.05);
    height: 100%;
    width: 150%;
    align-self: center;
}
.line-1-page-1 {
    left: -46%;
    border-radius: 50%;
}

.line-2-page-1 {
    left: -26%;
    border-radius: 50%;
}

.line-3-page-1 {
    left: -6%;
    border-radius: 50%;
}

.line-1-page-2 {
    left: -67%;
    border-radius: 50%;
}

.line-2-page-2 {
    left: -26%;
    border-radius: 50%;
}

.line-3-page-2 {
    left: 15%;
    border-radius: 50%;
}