
.MainBlock-page-3 {
    position: fixed;

    left: 0;
    right: 0;
    top: 50px;
    bottom: 60px;

    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 300px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;

    overflow-y: scroll;
    overflow-x: hidden;
}
.MainBlock-page-3::-webkit-scrollbar {
    width: 20px;
}
.MainBlock-page-3::-webkit-scrollbar-track {
    background: rgb(10, 100, 115);
}
.MainBlock-page-3::-webkit-scrollbar-thumb {
    background-color: rgb(5, 55, 75);
    border-radius: 15px;
    border: 5px solid rgb(10, 100, 115);
}

.content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 600px;
    border-radius: 20px;
    background-color: antiquewhite;
    overflow: hidden;
}
.photo {
    align-self: center;
    justify-self: center;
    overflow: hidden;
    max-width: fit-content;
}
img.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info {
    width: fit-content;
    overflow-y: hidden;
    text-wrap: nowrap;
}
